typing-extensions<4,>=3.7.4.1
wheel
eth-hash==0.2.0
ecdsa
fastecdsa
sympy
numpy<1.22
pytest==6.2.4
pytest-parallel
pytest-check
cairo-lang==0.7.0
aiohttp<4,>=3.7.4
eth-utils<1.10
click
importlib_resources>=5.2
