add.cairo
add_unsafe.cairo
add_signed.cairo
add_signed_unsafe.cairo

//sub - handwritten
sub_unsafe.cairo
sub_signed.cairo
sub_signed_unsafe.cairo

mul.cairo
mul_unsafe.cairo
mul_signed.cairo
mul_signed_unsafe.cairo

//div - handwritten
div_signed.cairo

exp.cairo
exp_unsafe.cairo
exp_signed.cairo
exp_signed_unsafe.cairo

negate.cairo

shl.cairo

shr.cairo
shr_signed.cairo

//ge - handwritten
ge_signed.cairo

//gt - handwritten
gt_signed.cairo

//le - handwritten
le_signed.cairo

//lt - handwritten
lt_signed.cairo

//xor - handwritten
//bitwise_and - handwritten
//bitwise_or - handwritten
bitwise_not.cairo

// ---conversions---

int_conversions.cairo

// ---external-input-input-checks---
external_input_check_ints.cairo
// external_input_check_bool.cairo - handwritten
