WARP_TEST_GROUP_PREFIX="transpilation/run-cairo"
WARP_TEST_DIR="./tests/cairo"
WARP_TEST_SUFFIX=".cairo"

cairo_src_dir="./cairo-src"

make_input_option() {
    input_file="$1.input.json"
    if [ -e "$input_file" ]; then # exists
        option_name='--program_input'
        printf '%s=%s' "$option_name" "$input_file"
    fi
}

test_case() {
    test_file="$WARP_TEST_DIR/$1$WARP_TEST_SUFFIX"
    printf "checking $test_file\n"
    gold_file="${test_file}.gold"
    temp_file="${test_file}.temp"
    compile_file="${test_file}.compile.json"

    input_option=$(make_input_option "$test_file")

    cairo-compile \
        --cairo_path "$cairo_src_dir" \
        "$test_file" --output "$compile_file"
    cairo-run \
        --program="$compile_file" \
        --print_output \
        --layout=small \
        $input_option \
        > "$temp_file"
    diff "$gold_file" "$temp_file" \
         --unified \
         --ignore-trailing-space \
         --ignore-blank-lines \
         --new-file # treat absent files as empty

    rm "$temp_file"
    rm "$compile_file"
}
