WARP_TEST_GROUP_PREFIX="transpilation/compile-starknet"
WARP_TEST_DIR="./tests/transpilation"
WARP_TEST_SUFFIX=".opcode.gold.cairo"

cairo_src_dir="./warp/cairo-src"

BLACKLISTED=(
    )

is_blacklisted() {
    local word="$1"
    local elem
    for elem in "${BLACKLISTED[@]}"; do
        if [[ "$elem" == "$word" ]]; then
            return 1
        fi
    done
    return 0
}

test_case() {
    is_blacklisted "$1" || skip "hints for this opcode are not whitelisted yet"

    local opcode_file="$WARP_TEST_DIR/$1.opcode"
    local test_file="$WARP_TEST_DIR/$1$WARP_TEST_SUFFIX"
    printf "checking $test_file\n"
    local cairo_file="$opcode_file.gold.cairo"
    local compile_file="$opcode_file.temp.json"

    starknet-compile \
        --disable_hint_validation \
        --cairo_path $cairo_src_dir \
        "$cairo_file" > "$compile_file"

    rm "$compile_file"
}
