name: Warp CI

on:
  push:
    branches:
      - main
      - develop
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          cache: 'yarn'

      - name: Install dependencies
        run: |
          yarn
          pipx install black[colors]
          pipx install cairo-lang

      - name: Check formatting
        run: |
          yarn lint
          black starknet-testnet/ --check --verbose --diff --color
          find warplib/ -iname *.cairo -exec cairo-format -c {} +

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          cache: 'yarn'

      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.7 # Cairo was tested with this version

      - name: Install dependencies
        run: |
          make
          make compile

      - name: Test code compilation
        run: make test_compilation

      - name: Test code execution
        run: |
          yarn testnet &
          make test_execution
