name: Semantic tests

on:
  push:
    branches:
      - main
      - develop
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  CAIRO_LANG_VERSION: 0.10.3

jobs:
  semantic_test:
    strategy:
      fail-fast: false
      matrix:
        SM_BATCH: [1, 2, 3]
    runs-on: ubuntu-latest
    env:
      SM_BATCH: ${{ matrix.SM_BATCH }}
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          cache: 'yarn'

      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.9 # Cairo was tested with this version

      - name: Install dependencies
        run: |
          make
          make compile

      - name: Setup warp_venv
        run: bin/warp install --python python --verbose

      - name: Build warplib
        run: yarn warplib

      - name: Setup gcc-11 Environment
        run: |
          sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
          sudo apt install -y gcc-11 gcc-11-multilib g++-11 g++-11-multilib
          gcc-11 --version

      - name: Test code execution
        run: |
          yarn testnet:benchmark_semantic &
          node build/autoRunSemanticTests.js

      - name: Save benchmarks in artifacts
        uses: actions/upload-artifact@v3
        with:
          name: benchmark
          path: benchmark
